*,
::before,
:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/*	
	Supérieur à 1000px GRID
	Inférieur égal à 1000px FLEX
*/

.container {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: auto 1fr;
    height: 100vh;
    width: 100%;
}

/*
 * HEADER
 */
header {
    grid-column: span 2;
    padding: 10px;
    text-align: center;
    font-size: clamp(18px, 4vw, 30px);
    background-color: #178fbe;
    color: #ffffff;
}

/*
 * SIDEBAR
 */
nav {
    background-color: #eeeeee;
    color: #170c9f;
}
nav ul {
    list-style: none;
    min-height: 450px;
    display: flex;
    flex-direction: column;
}
nav h3 {
    color: #178fbe;
    font-size: clamp(14px, 4vw, 25px);
}
nav ul li,
nav h3 {
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
}
nav li:hover {
    background-color: #178fbe;
    color: #eeeeee;
}
nav ul a {
    font-size: clamp(12px, 3vw, 16px);
    color: #170c9f;
    text-decoration: none;
}

/*
 * MAIN
 */
main {
    padding: 10px;
}

/*
 * FOOTER
 */
footer {
    grid-column: span 2;
    padding: 10px;
    text-align: center;
    font-size: clamp(9px, 3vw, 18px);
    background-color: #178fbe;
    color: #ffffff;
}

/*
 * Responsive
 */

@media screen and (max-width: 1000px) {
    .container {
        display: flex;
        flex-direction: column;
    }
    nav ul {
        flex-direction: row;
        min-height: auto;
        justify-content: center;
    }
    nav h3 {
        display: none;
    }
    nav li {
        margin: 0 15px;
    }
    main p {
        min-height: 650px;
    }
}
